{% extends '@ForkBackendCore/Layout/Templates/Mails/Default.html.twig' %}

{% block main %}
  <h3>{{ 'lbl.ResetYourPassword'|trans|capitalize }}</h3>

  <div id="content">
    <p>{{ 'lbl.Dear'|trans|capitalize }},</p>
    <p>{{ 'msg.ResetYourPasswordMailContent'|trans }}</p>
    <p><a href="{{ resetLink }}">{{ resetLink }}</a></p>
  </div>

  <div id="footer">
    <p><strong>Fork CMS</strong></p>
  </div>
{% endblock %}
